*.dll
*.json
*.deps.json
*.runtimeconfig.json
*.pdb
*assets.cache
*.editorconfig
*.cache
*.csproj.nuget.g.targets
*.AssemblyInfo.cs
*.assets.cache
*.GeneratedMSBuildEditorConfig.editorconfig
apphost.exe
