*.json
*.dll
*.git exe
*.pdb
*json
*.assets.cache
*.csproj*
*.csproj.nuget*
*.GeneratedMSBuildEditorConfig.editorconfig
*.genruntimeconfig.cache
*apphost.exe
*nuget*


homework/taskF19.12.23/Task1/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
fifth/obj/Debug/net8.0/fifth.AssemblyInfo.cs
fifth/obj/Debug/net8.0/fifth.AssemblyInfoInputs.cache
first/obj/Debug/net8.0/first.AssemblyInfo.cs
first/obj/Debug/net8.0/first.AssemblyInfoInputs.cache
fourth/obj/Debug/net8.0/fourth.AssemblyInfo.cs
fourth/obj/Debug/net8.0/fourth.AssemblyInfoInputs.cache
second/obj/Debug/net8.0/second.AssemblyInfo.cs
second/obj/Debug/net8.0/second.AssemblyInfoInputs.cache
21.12.23/Task1/obj/Debug/net8.0/Task1.AssemblyInfo.cs
homework/taskF19.12.23/Task1/obj/Debug/net8.0/Task1.AssemblyInfo.cs
21.12.23/Task1/obj/Debug/net8.0/Task1.AssemblyInfoInputs.cache
homework/taskF19.12.23/Task1/obj/Debug/net8.0/Task1.AssemblyInfoInputs.cache
homework/taskF19.12.23/Task1/bin/Debug/net8.0/Task1.exe
homework/taskF19.12.23/Task1/obj/Debug/net8.0/Task1.GlobalUsings.g.cs
21.12.23/Task2/obj/Debug/net8.0/Task2.AssemblyInfo.cs
21.12.23/Task2/obj/Debug/net8.0/Task2.AssemblyInfoInputs.cache
third/obj/Debug/net8.0/third.AssemblyInfo.cs
third/obj/Debug/net8.0/third.AssemblyInfoInputs.cache
