*.json
*.dll
*.exe
*.pdb
*json
*Assemblyinfo.cs
*AssemblyInfoInputs.cs
*AssemblyInfoInputs.cache
*asset.cache
*.csproj.nuget.dgspec.json
*project.assets.json
*project.nuget.cache
*.assets.cache
*.csproj.CoreCompileInputs.cache
*.csproj.FileListAbsolute.txt
*.GeneratedMSBuildEditorConfig.editorconfig
*.genruntimeconfig.cache
*apphost.exe
*FileListAbsolute.txt
*assets.cache
/obj/*
*.csproj
*.nuget.g.props
*.nuget.g.targets
*.csproj
*.nuget.g.props
*.nuget.g.targets
*.AssemblyAttributes.cs
*.lobalUsings.g.cs
*.GlobalUsings.g.cs
